/*
* imagen de fondo en la etiqueta header* 
*/
header{
    background: url(../images/portada.png) no-repeat;
    background-size: cover;
    min-height: 100vh;
}
/*
* jumbotron de bootstrap le agregamos un fondo transparente con rgba(red, green, blue, alpha);
* 100vh => ajustamos al tamaño de la pantalla
*/
.jumbotron{
     /* margin-top: 56px; */
    background: rgba(10, 10, 10, 0.6);
    color: white;
    min-height: 100vh;
}

/* .nav transparente */
header .navbar-dark{
    background: rgba(10, 10, 10, 0.8) !important;
}