body{
    margin: 0px;
}

@media screen and (min-width: 480px){
    div{
        color: blue
    }
}
@media screen and (min-width: 720px) {
    div{
        color: green
    }
}
@media screen and (min-width: 950px) {
    div{
        color: red
    }
}

